@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header,
.footer {
  position: fixed;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
  background: #eeeeee;
}

a {
  text-decoration: none;
  color: rgb(96, 94, 94);
  font-size: 15px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 12px 10px;
  gap: 15px;
}

.left-links {
  margin-right: auto;
}

.right-links {
  margin-left: auto;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content img,
.content .input,
.content .buttons {
  margin: 5px;
}

